In [1]:
#Unique Words in a Sentence
sentence = input("Enter sentence: ")
words = sentence.split()
unique_words = set(words)
print("Unique words count:", len(unique_words))
print("Unique words:", unique_words)

Enter sentence: python is easy and python is powerful
Unique words count: 5
Unique words: {'is', 'and', 'python', 'easy', 'powerful'}

In [2]:
#Highest Salary from Employee Data
employees = {
    "Ravi": 75000,
    "Anita": 68000,
    "Kiran": 72000
}

highest_employee = max(employees, key=employees.get)
print("Highest Salary:", highest_employee, "-", employees[highest_employee])

Highest Salary: Ravi - 75000

In [3]:
#Find Maximum and Minimum Values
numbers = [45, 22, 89, 10, 66]
max_value = numbers[0]
min_value = numbers[0]
for num in numbers:
    if num > max_value:
        max_value = num
    if num < min_value:
        min_value = num
print("List:", numbers)
print("Max:", max_value)
print("Min:", min_value)

List: [45, 22, 89, 10, 66]
Max: 89
Min: 10

In [4]:
#Count Products Above a Price Threshold
prices = [450, 1200, 899, 1500, 300]
count = 0
for price in prices:
    if price > 1000:
        count += 1
print("Products above 1000:", count)

Products above 1000: 2

In [5]:
#Calculate Attendance Percentage
attendance = ["P", "P", "A", "P", "P"]
present_count = attendance.count("P")
total_days = len(attendance)
percentage = (present_count / total_days) * 100
print("Attendance Percentage:", percentage)

Attendance Percentage: 80.0

In [6]:
#Remove Duplicate Phone Numbers
phone_numbers = [9876543210, 9123456789, 9876543210]
unique_numbers = set(phone_numbers)
print("Unique phone numbers:", unique_numbers)

Unique phone numbers: {9876543210, 9123456789}

In [7]:
#Count Character Frequency
string = "python"
frequency = {}
for char in string:
    if char in frequency:
        frequency[char] += 1
    else:
        frequency[char] = 1
print(frequency)

{'p': 1, 'y': 1, 't': 1, 'h': 1, 'o': 1, 'n': 1}

In [8]:
#Convert List to Tuple
numbers = [10, 20, 30]
numbers_tuple = tuple(numbers)
print("Tuple:", numbers_tuple)

Tuple: (10, 20, 30)

In [9]:
#Check if a Key Exists in a Dictionary
employees = {"Ravi": 75000, "Anita": 68000}
key = "Ravi"
if key in employees:
    print("Employee exists")
else:
    print("Employee does not exist")

Employee exists

In [10]:
#Calculate Average Marks
marks = [70, 75, 65, 80]
total = sum(marks)
average = total / len(marks)
print("Average Marks:", average)

Average Marks: 72.5